<!doctype html>
<html ng-app="LunchCheck" lang="en">
  <head>
    <title>Module 1 App</title>
    <script src="angular.min.js"> </script>
    <script src="app.js"> </script>

  </head>
<body>


   <div ng-controller="controllerModule1">

     <h3>Insert by comma-separated what you usually eat at lunch!</h1>
     <input type="text" ng-model="name" ng-blur="upper();">

     <div class="">
       {{messageOutput}}
       <br>
       <button ng-click="CheckIfTooMuch()" type="button" name="button">Check If Too Much</button>

     </div>

   </div>

</body>
</html>
